@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* =============== Header =================== */

  .logo {
    margin-right: 76px;
  }

  .contacts {
    display: flex;
    align-items: center;
  }

  .contact-mail,
  .contact-phone {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contact-mail {
    margin-right: 40px;
  }

  /* ================== Hero ================== */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg.jpg);

    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-img-desk@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* ========== Our advantages =========== */

  .advantages-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-text {
    font-weight: 400;
  }

  .thumb {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;
    width: 264px;
    height: 112px;

    border-radius: 4px;
    background-color: var(--light-mode-color);
  }

  /* ==================== About work ================== */

  .about-work {
    padding-top: 0;
  }

  .about-work-list {
    display: flex;
    gap: 24px;
  }

  .about-work-list-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }

  /* ================== Our team =============== */

  .team-list {
    gap: 24px;
  }
  /* .team-card {
    flex-basis: calc((100% - 24px * 3) / 4);
  } */

  /* ================== Customers =============== */

  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  .customers-item {
    flex-basis: calc((100% - 24px * 5) / 6);
  }

  /* =========================== PORTFOLIO ======================== */

  .project-card {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* ================= Footer ================= */

  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .media {
    margin-left: 120px;
  }

  .footer-modal {
    margin-left: 80px;
  }

  /* ===================== Modal window ================ */
  .modal {
    width: 408px;
    height: 584px;
    padding-top: 70px;
    padding-bottom: 26px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
