@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin-right: auto;
    margin-left: auto;
  }

  /* ============ Header =============== */

  /* =============== Our team =============== */
}

/* ================================================================== */
/* ================================================================== */

@media screen and (max-width: 767px) {
  /* ============ Header =============== */

  .menu {
    display: none;
  }

  .contacts {
    display: none;
  }

  .menu-link {
    position: relative;
    transition: color var(--transition-duration-func);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
  }

  /* ====================== Hero =============== */

  .hero-title {
    width: 318px;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
  }

  /* ========== Our advantages =========== */

  .advantages-list-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .advantages-subtitle {
    text-align: center;
  }

  /* =============== Our team =============== */
  .team {
    padding-bottom: 128px;
  }

  .team-container {
    padding-left: 82px;
    padding-right: 82px;
  }

  .team-card:not(:last-child) {
    margin-bottom: 72px;
  }

  /* ================== Customers =============== */

  .customers-list {
    gap: 16px;
  }

  .customers-item {
    flex-basis: calc((100% - 16px) / 2);
  }

  .customers-link {
    width: 190px;
  }

  /* ================= Footer ================= */
  .footer-container {
    text-align: center;
  }

  .footer-logo {
    margin-left: auto;
    margin-right: auto;
  }

  .slogan {
    width: 268px;
    margin-left: auto;
    margin-right: auto;
  }

  .media {
    width: 208px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
  }

  .footer-input {
    margin-bottom: 16px;
  }

  .subscribe-btn {
    margin-right: auto;
    margin-left: auto;
  }
}
