@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }

  /* ============ Header ============= */

  .logo {
    margin-right: 120px;
  }

  .page-navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--pressed-state-color);
  }

  .current {
    color: var(--pressed-state-color);
  }

  .current::after {
    content: '';

    position: absolute;
    left: 0px;
    top: 43px;

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--pressed-state-color);
  }

  .contact-mail,
  .contact-phone {
    transition: color var(--transition-duration-func);

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text-color);
  }

  .contact-mail:hover,
  .contact-mail:focus {
    color: var(--pressed-state-color);
  }

  .contact-phone:hover,
  .contact-phone:focus {
    color: var(--pressed-state-color);
  }

  .menu-open-btn {
    display: none;
  }

  /* ================== Hero ================== */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-img-tab.jpg);

    padding-top: 112px;
    padding-bottom: 108px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-img-tab@2x.jpg);
    }
  }

  .hero-title {
    width: 494px;
    margin-bottom: 40px;

    font-size: 56px;
    line-height: 1.07;
  }

  /* ========== Our advantages =========== */

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .advantages-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* =============== Our team =============== */

  .team-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .team-list {
    display: flex;
  }

  .team-card {
    width: 264px;
  }

  /* ================== Customers =============== */

  .customers-list {
    gap: 24px;
  }

  .customers-link {
    width: 168px;
  }

  /* =========================== PORTFOLIO ======================== */

  .filters-list {
    justify-content: center;
  }

  .filter-btn {
    padding: 12px 24px;
  }

  .project-card {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* ================= Footer ================= */

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 582px;
  }

  .slogan {
    width: 264px;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  /* ================ Modal window ============= */

  .modal {
    width: 408px;
    height: 584px;
    padding-top: 72px;
    padding-bottom: 24px;
  }
}

/* ==================================================================== */
/* ==================================================================== */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* ================== Header ================= */

  .header-address {
    margin-bottom: -14px;
  }

  /* ========== Our advantages =========== */

  .advantages-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 72px;
  }

  /* =============== Our team =============== */

  .team-container {
    width: 582px;
  }

  .team-list {
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-card {
    /* width: 264px; */
    flex-basis: calc((100% - 24px) / 2);
  }

  /* ================== Customers =============== */

  .customers-container {
    width: 582px;
  }

  .customers-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }

  /* ================= Footer ================= */
  .media {
    margin-left: 24px;
  }
}
